body {
  text-transform: capitalize;
  background-color: #f6f8fc;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  color: #fff;
}

#navItensPokemon {
  margin: 1rem 0;
  padding: 1.3rem;

  a {
    display: inline-block;
    transition:
      transform 0.3s ease,
      text-shadow 0.3s ease,
      background-color 0.1s ease;
    text-decoration: none;
    color: #fff;
  }
}

#navItensPokemon a:hover {
  transform: scale(1.1); /* O efeito de aumento que você queria */
  padding: 5px 10px;
  text-shadow: 0 1.5px 5px rgba(0 0 0 / 30%);
  border-radius: 20px;
  background-color: rgba(0 0 0 / 6%);
  margin: -10px;
}

div#titlePokemon {
  display: flex;
  flex-direction: row;
  padding: 0 2rem;
  justify-content: space-between;
  h1 {
    margin: 0;
  }

  span {
    margin-top: 1.5rem;
    font-size: 1.2rem;
  }
}

.types {
  list-style: none;
  margin: 0.2rem 2rem;
  padding: 0;
  font-size: 1rem;
  display: flex;
  gap: 10px;
}

.type {
  filter: brightness(1.1);
  padding: 0.4rem 1.2rem;
  text-align: center;
  border-radius: 1rem;
}

figure {
  margin-top: 4rem;
  display: flex;
  justify-content: center;

  img {
    margin-bottom: -45px;
    position: relative;
    height: 200px;
    z-index: 10;
  }
}

article#articlePokemonDetail {
  position: relative;
  background-color: #fff;
  padding: 0.4rem 2rem;
  flex-grow: 1;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  box-shadow:
    0 -40px 30px rgba(0 0 0 / 10%),
    inset 0 3px 10px rgba(0 0 0 / 20%),
    inset 0 -3px 6px rgba(0 0 0 / 10%);

  section {
    margin-top: 50px;
  }
}

img#bokeballBackground {
  position: absolute;
  top: -160px;
  left: 0;
  height: 180px;
  z-index: 0;
  filter: opacity(0.2);
}

/* .pokemonAttributes * {
    display: inline-block;
} */

dl {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 15px 0;
}

dt {
  color: #8d8d8d;
  font-weight: 300;
}

dd {
  margin: 0;
  font-weight: 600;
}

@media screen and (min-width: 576px) {
  article#articlePokemonDetail {
    width: 85%;
    margin: 0 auto;
  }

  img#bokeballBackground {
    left: 25px;
    height: 200px;
  }

  figure > img {
    height: 230px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 992px;
    height: auto;
    margin: 0 auto;
    border-radius: 1rem;
  }

  figure > img {
    height: 250px;
  }

  img#bokeballBackground {
    left: 50px;
    top: -200px;
    height: 218px;
  }

  article#articlePokemonDetail {
    width: 90%;
    margin: 0 auto;
  }
}
